<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.sparkleo.demoRia</key>
        <string>match AppStore com.sparkleo.demoRia</string>
    </dict>
    <key>compileBitcode</key>
    <true/>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>KUU9HSKX4J</string> <!-- Replace with your actual Team ID -->
</dict>
</plist>
